.card {
	flex-direction: column;
	color: $secondary_color;
	@include card-structure;
	box-shadow: 5px 5px 5px 5px rgba(41, 41, 41, 0.2);

	&--red {
		background-color: $tertiary_color;
	}

	&--black {
		background-color: $primary_color;
	}

	&--white {
		background-color: $secondary_color;
		color: $primary_color;
	}

	&__user-container {
		display: flex;
		align-items: center;
	}

	&__avatar {
		height: 30px;
		border-radius: 100px;
		margin-right: 10px;
	}
	&__user-info {
		line-height: 0.3;
	}
	&__username {
		font-size: 20px;

		font-weight: bold;
	}
	&__subtext {
		font-size: 12px;
		font-weight: 100;
		opacity: 0.5;
	}

	&__review {
		&-maintext {
			font-size: 24px;
			margin: 0;
		}

		&-subtext {
			font-size: 14px;
			margin: 10 0px;
		}
	}
}
